@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=IBM+Plex+Sans&family=IBM+Plex+Mono&display=swap');

$font-header: "Bai Jamjuree", "Bitter", "Ubuntu", Georgia, serif;
$font-body: "IBM Plex Sans", "Rubic", "Poppins", "Helvetica", Arial, sans-serif;
$font-code: "IBM Plex Mono", "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", monospace;
$font-tagline: $font-header;
$nav-font: $font-header;
