<footer>
  <div class="row center-xs social">
  {{ range .Site.Params.Social -}}
    <div class="col-xs-2">
      <a target="_blank" rel="noopener" href="{{ .url }}">
        {{ partial "icon" .type }}
      </a>
    </div>
  {{- end }}
  </div>
  {{ if (.Site.Params.copyright) -}}
  <div class="row center-xs">
    <div class="col-xs">
      <small>
      {{ if .Site.Params.copyright }}
        {{ i18n "copyright" }} &copy; {{ now.Format "2006" }} {{ .Site.Title }}
      {{ end }}
      <div class="col-xs">
          <small>A project by <a href="https://dynastyprocess.com" target="_blank" rel="noopener">DynastyProcess.com</a></small>
      </div>
      </small>
    </div>
  </div>
  {{- end }}
</footer>
